.grid-container {
    padding-top: 50px;
    width: 600px;
    margin-left: auto;
    margin-right:auto;
}

table {
    width: 100%;
}

td {
    height: 100px;
    width: 100px;
}

.buttons {
    padding-top: 20px;
    margin-left: auto;
    margin-right:auto;
}
