{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<table>
{% for row in grid %}
    <tr id="{{ forloop.counter }}">
        {% for cell in row %}
        <td id="{{ forloop.counter }}">
            {{ cell }}
        </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>

<button onclick="print_arr(arr)">Check Array</button>

<script src="/static/js/grid.js"></script>
<script type="text/javascript">
    var arr = {{ grid|safe }}
    for(i = 0; i < arr.length; i++) {
        for(j = 0; j < arr[i].length; j++) {
            octal_num = arr[i][j];


            r = parseInt(octal_num.slice(0, 3), 8);
            g = parseInt(octal_num.slice(3, 6), 8);
            b = parseInt(octal_num.slice(6, 9), 8);

            if(r > 255) { 
                r = r - 256;
            }
            if(g > 255) { 
                g = g - 256;
            }
            if(b > 255) { 
                b = b - 256;
            }
            
            rgb = r.toString(16) + g.toString(16) + b.toString(16);

            arr[i][j] = rgb
        }
    }

    function octal2hexstring(octstring) {
        arr = [];
        for(i = 0; i < 3; i++) {
            // for each three-digit triplet in octstring, treat as an octal
            // number, parse to an Integer, and place in arr
            arr[i] = parseInt(octstring.slice(3*i, 3*(i+1)), 8);

            // Each octal triplet can hold values in the range 0 - 511; we only
            // want values in the range 0 - 255; so if the converted octal 
            // integer is between 256 and 511, subtract 256 to give an integer 
            // in the desired range.
            if(arr[i] > 255) { arr[i] -= 256; }
        }

        // Convert and concantenate the integers in the array to a valid RGB
        // hex string
        rgb = arr[0].toString(16) + arr[1].toString(16) + arr[2].toString(16);

        return rgb;
    }
            

    function print_arr(a) {
        body = document.body;
        para = document.createElement('p');
        para.appendChild(document.createTextNode(a));

        body.appendChild(para);
    }

    
    function octalstr_to_hexstring(str) {
        octnum = parseInt(str, 8);
        hexstr = octnum.toString(16);
        return hexstr;
    }
    
</script>

{% endblock %}`
