{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<table>
{% for row in grid %}
    <tr id="{{ forloop.counter }}">
        {% for cell in row %}
        <td id="{{ forloop.counter }}">
            {{ cell }}
        </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>

<button onclick="print_arr(arr)">Check Array</button>

<script src="/static/js/grid.js"></script>
<script type="text/javascript">
    var arr = {{ grid|safe }}
    function print_arr(a) {
        body = document.body;
        para = document.createElement('p');
        para.appendChild(document.createTextNode(a));

        body.appendChild(para);
    }
    
</script>

{% endblock %}`
