{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div>
    <p>
        Please enter the number of rows and columns of the grid to be generated:
    </p>

</div>

<form method="post" action="grid">
    {% csrf_token %}
    <dl>
        <dt><label for="grid_num">Number (greater than 1):</label></dt>
        <dd><input id="grid_num" type="text" name="grid_num" /></dd>
        <dt><input type="submit" value="Generate!" /></dt>
    </dl>
</form>


{% endblock %}


